/* Main CSS */
.navigation-bar-fixed-menu {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: r;
    background-color: white;
    padding-top: 21px;
    padding-left: 34px;
    padding-bottom: 26px;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228);
    z-index: 1000;
    transition: all ease-in-out 0.5s;
}

/* Left Side CSS */
.navigation-bar-fixed-menu .left-side-navigation-bar-menu {
    display: flex;
    align-items: center;
}

.navigation-bar-fixed-menu .left-side-navigation-bar-menu .hamburger-menu-with-youtube-logo {
    display: flex;
}

.navigation-bar-fixed-menu .left-side-navigation-bar-menu .navigation-bar-left-side-icons {
    display: flex;
    height: 24px;
    cursor: pointer;
}

.navigation-bar-fixed-menu .left-side-navigation-bar-menu .hamburger-menu-with-youtube-logo .youtube-home-tooltip-text-container {
    display: flex;
    margin-left: 62px;
    margin-right: 2px;
    margin-top: 1px;
}

.middle-side-naviagtion-bar-menu {
    display: flex;
    transition: all ease-in-out 0.5s;
}

/* ToolTip Text */
.youtube-home-tooltip-text-container {
    display: flex;
}

.navigation-bar-fixed-menu .left-side-navigation-bar-menu .youtube-home-tooltip-text-container .youtube-home-tooltip-text {
    /* visibility: visible;
    position: absolute;
    display: flex;
    margin-top: 33px;
    padding: 2px;
    background-color: #3A3B3C;
    color: white;
    border: 1px black solid;
    opacity: 1;
    transition: ease-in-out 1s; */
    display: none;
    padding: 4px;
    background-color: #3A3B3C;
    color: white;
    border: 1px black solid;
    cursor: pointer;
    font-size: 12px;
}

.navigation-bar-fixed-menu .left-side-navigation-bar-menu .youtube-home-tooltip-text-container:hover .youtube-home-tooltip-text {
    /* visibility: visible;
    opacity: 1; */
    display: block;
    position: fixed;
    overflow: hidden;
}

/* Middle Side CSS */
.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu {
    display: flex;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
    align-items: center;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-box {
    flex: 1;
    width: 0;
    padding: 11px;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-button,
.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .voice-search-button {
    padding: 4.6px;
    cursor: pointer;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-button {
    margin-left: -1px;
    margin-right: 12px;
    padding: 4.6px 20px;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-icon,
.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .voice-search-icon {
    height: 24px;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .voice-search-button {
    border-radius: 100%;
    border: 0;
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu button,
.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu input {
    border: 1px rgb(192, 192, 192) solid;
}

/* Right Side CSS */
.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu {
    display: flex;
    margin-right: 28px;
    align-items: center;
    gap: 22px;
}
.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .navigation-bar-right-side-icons {
    height: 24px;
    cursor: pointer;
}

.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .my-channel-icon {
    border-radius: 100%;
}

.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .notification-icon-tooltip-container {
    position: relative;
    display: flex;
    cursor: pointer;
}

.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .notification-icon-tooltip-container .tooltip-text {
    position: absolute;
    background-color: rgb(200, 0, 0);
    padding: 2px 5px;
    border-radius: 100%;
    top: -2px;
    right: -5px;
    font-size: 12px;
    color: white;
}

/* Dark Mode */
.navigation-bar-fixed-menu.dark-mode {
    background-color: black;
    border-bottom-color: red;
}

.navigation-bar-fixed-menu .hamburger-menu-with-youtube-logo .hamburger-menu.dark-mode {
    filter: invert(100%);
}

.navigation-bar-fixed-menu .hamburger-menu-with-youtube-logo .youtube-right-side-logo.dark-mode {
    filter: invert(100%);
}

.navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu.dark-mode {
    filter: invert(100%);
}

.navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .navigation-bar-right-side-icons.dark-mode {
    filter: invert(100%);
}

/* Responsive */
@media (max-width: 650px) {
    .navigation-bar-fixed-menu .left-side-navigation-bar-menu .hamburger-menu-with-youtube-logo .hamburger-menu,
    .navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu,
    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .notification-icon-tooltip-container,
    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .upload-icon,
    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .youtube-apps-icon {
        visibility: hidden;
    }

    .navigation-bar-fixed-menu .left-side-navigation-bar-menu .hamburger-menu-with-youtube-logo .youtube-left-side-logo,
    .navigation-bar-fixed-menu .left-side-navigation-bar-menu .hamburger-menu-with-youtube-logo .youtube-right-side-logo {
        position: relative;
        visibility: visible;
        left: -110px;
        cursor: none;
    }

    .navigation-bar-fixed-menu {
        display: flex;
        align-items: center;
    }

    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu {
        position: fixed;
        right: -20px;
        gap: 0;
    }

    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .dark-mode-button {
        position: relative;
        right: -34px;
        margin-top: 2px;
        cursor: none;
    }

    .navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-icon {
        visibility: visible;
        position: fixed;
        top: 3px;
        right: -25px;
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        margin-right: 64px;
        z-index: 100;
        cursor: none;
    }

    .navigation-bar-fixed-menu .right-side-naviagtion-bar-menu .my-channel-icon {
        cursor: none;
    }
    /* Dark Mode Responsive*/
    .navigation-bar-fixed-menu .middle-side-naviagtion-bar-menu .search-icon.set-position {
        margin-right: 42px;
        margin-top: 6px;
    }
}
