/* Main CSS */
.side-bar-fixed-menu {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: -100px;
    margin-top: 80px;
    padding: 0 11px;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(228,228,228);
    transition: all ease-in-out 0.5s;
}

.side-bar-fixed-menu.expand {
    left: 0;
}

.side-bar-fixed-menu .sidebar-icons .sidebar-icons-images {
    margin-top: 40px;
    height: 24px;
    cursor: pointer;
}

.side-bar-fixed-menu .sidebar-icons .home-icon {
    margin-top: 20px;
}

.side-bar-fixed-menu .sidebar-icons .sidebar-icons-text {
    font-size: 12px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 650px) {
    .side-bar-fixed-menu {
        display: none;
    }
}

/* Dark Mode */
.side-bar-fixed-menu.dark-mode {
    background-color: black;
    color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: red;
}

.side-bar-fixed-menu .sidebar-icons .sidebar-icons-images.dark-mode {
    filter: invert(100%);
}
