/* .side-bar-fixed-menu {
    background-color: red;
    position: fixed;
    display: flex;
    margin-top: 20px;
    top: 0;
    bottom: 0;
    padding-right: 40px;
    z-index: -1;
}
.side-bar-fixed-menu .sidebar-icons .sidebar-icons-images {
    height: 24px;
} */
