/* Videos Section */
.videos-section {
    display: grid;
    row-gap: 20px;
    column-gap: 12px;
    margin-left: 10px;
    margin-top: 94px;
    margin-right: 10px;
    transition: all 1s ease-in-out;
}

.videos-section.change {
    margin-left: 120px !important;
}

/* Thumbnail Section */
.video-grid .thumbnail-image-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.video-grid .thumbnail-image-container .thumbnail-image-source {
    display: block;
    width: 100%;
}

/* Video Time */
.video-grid .thumbnail-image-container {
    position: relative;
}

.video-grid .thumbnail-image-container .video-time {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 0.78;
}

/* Video Info Section */
.video-grid .video-info-container {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-top: 8px;
}

.video-grid .video-info-container .channe-logo-container .channel-logo {
    border-radius: 100%;
    width: 36px;
    cursor: pointer;
}

.video-grid a {
    text-decoration: none;
}

.video-grid .video-stats-container .video-title a {
    color: black;
    transition: all 1s ease-in-out;
}

.video-grid .video-stats-container .channel-name a {
    color: #808080;
}

.video-grid .video-info-container .channel-name,
.video-grid .video-info-container .video-stats,
.video-grid .video-info-container .video-title {
    transition: all 1s ease-in-out;
}

.video-grid .video-info-container .video-title {
    font-weight: bold;
    color: black;
}

.video-grid .video-info-container .channel-name {
    margin-top: 4px;
    margin-bottom: 4px;
}

.video-grid .video-info-container .video-stats {
    color: #808080;
}

/* Responsive */
@media (min-width: 1000px) {
    .videos-section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .videos-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 561px) and (max-width: 750px) {
    .videos-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 560px) {
    .videos-section {
        margin: 82px 0 0;
        grid-template-columns: 1fr;
    }

    .video-grid .video-info-container {
        margin-left: 10px;
        margin-right: 2px;
    }

    .videos-section.change {
        margin-left: 0 !important;
    }
}

/* Dark Mode */
body.dark-mode {
    background-color: black;
}

.video-grid .video-stats-container .video-title a.dark-mode {
    color: white;
}

/* Form */
.form {
    transition: all 1s ease-in-out;
}

.form.change {
    margin-left: 120px;
}
